.border {
  border: 1px solid red;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #373D49;
  color: #FCFCFC;
  align-content: center;
}
header h1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: 1.25rem;
  padding-left: 2%;
  padding-top: 20px;
  padding-bottom: 20px;
}
header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 20px;
}
header nav a {
  margin: 0 20px;
  text-decoration: none;
  color: white;
}
header:hover {
  background-color: #FCFCFC;
  color: #373D49;
}
header:hover nav a {
  color: #373D49;
}
@media (max-width: 800px) {
  header {
    flex-direction: column;
  }
}
.footer {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #373D49;
  color: #FCFCFC;
}
.container {
  width: 100%;
  margin: auto;
  font-family: 'Source Sans Pro', sans-serif;
}
.section-one {
  display: flex;
  flex-wrap: flex;
  justify-content: center;
  align-content: center;
  font-size: 18px;
  background-color: #373D49;
  padding-top: 80px;
  padding-bottom: 50px;
}
.section-one .box1 {
  width: 60%;
  justify-content: center;
  align-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 10%;
  padding-right: 10%;
}
.section-one .box1 h2 {
  color: #FCFCFC;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 48px;
}
.section-one .box1 p {
  color: #FCFCFC;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 38px;
}
.section-one .box2 {
  width: 40%;
  justify-content: center;
  align-self: center;
}
.section-one .box2 img {
  align-self: center;
  width: 90%;
}
.section-two {
  display: flex;
  flex-wrap: flex;
  justify-content: center;
}
.section-two .box-one {
  background-color: #256EFF;
  width: 33.3%;
  padding-top: 30px;
}
.section-two .box-one h3 {
  justify-content: center;
  align-self: center;
  font-size: 28px;
  padding-left: 10%;
  padding-bottom: 20px;
  color: #FCFCFC;
}
.section-two .box-one p {
  justify-content: center;
  align-self: center;
  font-size: 24px;
  padding-left: 10%;
  padding-bottom: 20px;
  color: #373D49;
}
.section-two .box-two {
  background-color: #3DDC97;
  width: 33.3%;
  padding-top: 30px;
}
.section-two .box-two h3 {
  justify-content: center;
  align-self: center;
  font-size: 28px;
  padding-left: 10%;
  padding-bottom: 20px;
  color: #FCFCFC;
}
.section-two .box-two p {
  justify-content: center;
  align-self: center;
  font-size: 24px;
  padding-left: 10%;
  padding-bottom: 20px;
  color: #373D49;
}
.section-two .box-three {
  background-color: #FF495C;
  width: 33.3%;
  padding-top: 30px;
}
.section-two .box-three h3 {
  justify-content: center;
  align-self: center;
  font-size: 28px;
  padding-left: 10%;
  padding-bottom: 20px;
  color: #FCFCFC;
}
.section-two .box-three p {
  justify-content: center;
  align-self: center;
  font-size: 24px;
  padding-left: 10%;
  padding-bottom: 20px;
  color: #373D49;
}
.section-three {
  width: 60%;
  margin: auto;
  font-size: 24px;
  background-color: #FCFCFC;
  color: #373D49;
  padding-top: 100px;
}
.btn {
  border: 2px solid #FCFCFC;
  border-radius: 5px;
  background-color: Transparent;
  color: #373D49;
  font-size: 30px;
  margin-left: 10%;
  margin-bottom: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
}
* {
  box-sizing: border-box;
}
body {
  font-family: Verdana, sans-serif;
  margin: 0;
}
/* Slideshow container */
.slideshow-container {
  position: relative;
  background: #f1f1f1f1;
}
/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}
/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
  background: #ddd;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
/* Add a background color to the active dot/circle */
.active,
.dot:hover {
  background-color: #717171;
}
/* Add an italic font style to all quotes */
q {
  font-style: italic;
}
/* Add a blue color to the author */
.author {
  color: cornflowerblue;
}
.container2 {
  width: 100%;
  margin: auto;
  font-family: 'Source Sans Pro', sans-serif;
}
.company {
  display: flex;
  flex-wrap: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  font-size: 18px;
  background-color: #373D49;
  padding-top: 80px;
}
.company h3 {
  text-align: center;
  justify-content: center;
  align-content: center;
  color: #FCFCFC;
  font-size: 48px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 10%;
  padding-right: 10%;
}
.company p {
  text-align: center;
  justify-content: center;
  align-content: center;
  color: #FCFCFC;
  padding-top: 50px;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 20px;
}
.about-section {
  display: flex;
  flex-wrap: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  font-size: 18px;
  background-color: #373D49;
  padding-top: 80px;
  padding-bottom: 50px;
}
.about-section h3 {
  justify-content: center;
  align-content: center;
  color: #FCFCFC;
  font-size: 48px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 10%;
  padding-right: 10%;
  background-color: #373D49;
  width: 100%;
  text-align: center;
}
.about-section h4 {
  text-align: center;
  justify-content: center;
  align-content: center;
  color: #373D49;
  font-size: 36px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 10%;
  padding-right: 10%;
}
.about-section p {
  text-align: center;
  justify-content: center;
  align-content: center;
  color: #373D49;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 20px;
}
.about-section .aaron {
  background-color: #256EFF;
}
.about-section .nate {
  background-color: #3DDC97;
}
.about-section .jason {
  background-color: #FF495C;
}
.about-section .taylor {
  background-color: #FCFCFC;
}
.about-section img {
  width: 40%;
  display: block;
  margin: 0 auto;
}
@media (max-width: 800px) {
  .section-one img {
    display: none;
    text-align: center;
    margin: auto;
  }
}
@media (max-width: 500px) {
  .section-one {
    text-align: center;
  }
  .section-one .box1 {
    margin: auto;
  }
  .section-one .box1 h2 {
    font-size: 28px;
    text-align: center;
  }
  .section-one .box1 p {
    font-size: 28px;
    text-align: center;
  }
  .section-two {
    flex-direction: column;
    width: 100%;
  }
  .section-two .box-one {
    width: 100%;
  }
  .section-two .box-two {
    width: 100%;
  }
  .section-two .box-three {
    width: 100%;
  }
  .section-two {
    flex-direction: column;
    width: 100%;
  }
  .section-two .box-one {
    width: 100%;
  }
  .section-two .box-two {
    width: 100%;
  }
  .section-two .box-three {
    width: 100%;
  }
}
