
.container {
	width: 100%;
	margin: auto;
	font-family: 'Source Sans Pro', sans-serif; 
}

.section-one{
	display: flex;
	flex-wrap: flex;
	justify-content: center;
	align-content: center;
	font-size: 18px; 
	background-color: @blackTheme;
	padding-top: 80px;
	padding-bottom: 50px;

	.box1 {
		width: 60%;
		justify-content: center;
		align-content: center;
		padding-top: 50px;
		padding-bottom: 50px;
		padding-left: 10%;
		padding-right: 10%;

		h2 {
			color: @whiteTheme;
			padding-top: 50px;
			padding-bottom: 50px;
			padding-left: 10%;
			padding-right: 10%;
			font-size: 48px;
		}

		p {
			color: @whiteTheme;
			padding-top: 50px;
			padding-bottom: 50px;
			padding-left: 10%;
			padding-right: 10%;
			font-size: 38px;
		}
	}

	.box2 {
		width: 40%;
		justify-content: center;
		align-self: center;

		img {
			align-self: center;
			width: 90%;
		}
	}
}

.section-two{
	display: flex;
	flex-wrap: flex;
	justify-content: center;
	

	.box-one {
		background-color: @blueTheme;
		width: 33.3%;
		padding-top: 30px;

		h3 {
			justify-content: center;
			align-self: center;
			font-size: 28px;
			padding-left: 10%;
			padding-bottom: 20px;
			color: @whiteTheme;
		}

		p {
			justify-content: center;
			align-self: center;
			font-size: 24px;
			padding-left: 10%;
			padding-bottom: 20px;
			color: @blackTheme;
		}
		
	}

	.box-two {
		background-color: @greenTheme;
		width: 33.3%;
		padding-top: 30px;

		h3 {
			justify-content: center;
			align-self: center;
			font-size: 28px;
			padding-left: 10%;
			padding-bottom: 20px;
			color: @whiteTheme;
		}

		p {
			justify-content: center;
			align-self: center;
			font-size: 24px;
			padding-left: 10%;
			padding-bottom: 20px;
			color: @blackTheme;
		}
	}


	.box-three {
		background-color: @pinkTheme;
		width: 33.3%;
		padding-top: 30px;

		h3 {
			justify-content: center;
			align-self: center;
			font-size: 28px;
			padding-left: 10%;
			padding-bottom: 20px;
			color: @whiteTheme;
		}

		p {
			justify-content: center;
			align-self: center;
			font-size: 24px;
			padding-left: 10%;
			padding-bottom: 20px;
			color: @blackTheme;
		}
	}

}

.btn {
	border: 2px solid @whiteTheme;
	border-radius: 5px;
	background-color: Transparent;
	color: @blackTheme;
	font-size: 30px;
	margin-left: 10%;
	margin-bottom: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
}
