
// Navigation code here

header {

    display: flex;
	flex-wrap: wrap;
    justify-content: space-between;
    background-color: @blackTheme;
    color: @whiteTheme;
    align-content: center;

    h1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-top: 20px;

        font-size: 1.25rem;
        padding-left: 2%;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-top: 20px;
    

        a {
            margin: 0 20px;
            text-decoration: none;
            color: white;
        }
    }
}

header:hover {
    background-color: @whiteTheme;
    color: @blackTheme;
    nav {
        a {
            color: @blackTheme;
        }
    }
}

@media(max-width: 800px) {
    header {
        flex-direction: column;
    }
}

@media(max-width: 500px) {

}
